# Temp files

*~
\#*

# Python files
*.pyc

# Temp files
coevol/input_GREMLIN/*
coevol/output_GREMLIN/*
RF_model/clf/*
RF_model/G2/*


# Files for building parallel commands
structure/swarm_folding.sh