# Temp files

*~
\#*

# Python files
*.pyc

# Temp files
coevol/input_GREMLIN/*
coevol/output_GREMLIN/*
RF_model/clf/*
RF_model/G2/*

# Files for building parallel commansd
structure/swarm_folding.sh

# Files for folding (large and can't commit)
structure/fragments/*
structure/rosetta_folding_data/*
structure/FADE/*

# Database files
*.db

# RF_model files
RF_model/predictions/*

# BACKUP files
*.bz2